@font-face {
  font-family: 'myoriginal-icon';
  src: url('../../../theme/myoriginal/assets/fonts/icons/myoriginal-icon.eot?1574903182');
  src: url('../../../theme/myoriginal/assets/fonts/icons/myoriginal-icon.eot?1574903182#iefix') format('eot'),
    url('../../../theme/myoriginal/assets/fonts/icons/myoriginal-icon.woff2?1574903182') format('woff2'),
    url('../../../theme/myoriginal/assets/fonts/icons/myoriginal-icon.woff?1574903182') format('woff'),
    url('../../../theme/myoriginal/assets/fonts/icons/myoriginal-icon.ttf?1574903182') format('truetype'),
    url('../../../theme/myoriginal/assets/fonts/icons/myoriginal-icon.svg?1574903182#myoriginal-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  font-family: 'myoriginal-icon' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
}


.icon-circle-double:before {
  content: '\f001'
}

.icon-facrbook:before {
  content: '\f002'
}

.icon-mail:before {
  content: '\f003'
}

.icon-new-window:before {
  content: '\f004'
}
