@font-face {
  font-family: 'original-icon';
  src: url('../../../theme/myoriginal/assets/fonts/icons/original-icon.eot?1577354394');
  src: url('../../../theme/myoriginal/assets/fonts/icons/original-icon.eot?1577354394#iefix') format('eot'),
    url('../../../theme/myoriginal/assets/fonts/icons/original-icon.woff2?1577354394') format('woff2'),
    url('../../../theme/myoriginal/assets/fonts/icons/original-icon.woff?1577354394') format('woff'),
    url('../../../theme/myoriginal/assets/fonts/icons/original-icon.ttf?1577354394') format('truetype'),
    url('../../../theme/myoriginal/assets/fonts/icons/original-icon.svg?1577354394#original-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  font-family: 'original-icon' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
}


.icon-circle-double:before {
  content: '\f001'
}

.icon-facrbook:before {
  content: '\f002'
}

.icon-glass:before {
  content: '\f003'
}

.icon-mail:before {
  content: '\f004'
}

.icon-new-window:before {
  content: '\f005'
}
