/*
  about.scss
-------------------------------------------------- */

//
// profile
//
.profile__content {
  position: relative;

  .profile__name {
    position: absolute;
    left: 0;
    bottom: -0.5em;
    font-size: 11.5rem;
    color: $gray-200;
    line-height: 1;
  }

  .profile__figure {
    &:after {
      left: -33.333%;
      top: 60px;
    }
  }
}

.profile__txt__container {
  position: relative;

  .profile__txt {
    padding: 70px 50px 90px;
  }
}

//
// skills
//
.skills__content {
  .bg-container {
    margin-top: 4rem;
  }
}

.skills__ability {
  &__figure {
    position: relative;

    .ability-number {
      position: absolute;
      top: -0.65em;
      right: 0;
      line-height: 1;
      color: $gray-200;
      font-size: 7rem;
      font-weight: $bold;
    }
  }

  &__info {
    .info-inner {
      @include mq(sm-min) {
        padding: 0 32px 0 16px;
      }
    }

    h5 {
      margin-bottom: 1.4rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}

.skills__strength {
  padding: 42px 50px;
}

.skills__tool {
  li {
    width: 72px;
    height: 72px;
    background: $font-color;
    @include flexCenter;

    &:not(:first-child) {
      margin-left: 12px;
    }

    img {
      width: 40px;
    }
  }
}

//
// career
//
.career-content {
  // layout
  .career__item:nth-child(even) & {
    @include mq(sm-min) {
      flex-direction: row-reverse;
    }
  }

  &__year {
    font-size: 5rem;
    font-weight: $bold;
    @include flexChild(50%);

    @include mq(sm-min) {
      @include dflex;
    }

    span {
      &.year {
        line-height: 1;
      }

      &.new {
        font-size: 2.4rem;
        color: $gray-500;
        padding-top: 0.8rem;
      }
    }

    // layout
    .career__item:nth-child(odd) & {
      @include mq(sm-min) {
        // justify-content: flex-end;
        flex-direction: row-reverse;
      }

      .year {
        @include mq(sm-min) {
          padding-right: 50px;
        }
      }

      .new {
        @include mq(sm-min) {
          padding-right: 0.8em;
        }
      }
    }

    // layout
    .career__item:nth-child(even) & {
      .year {
        @include mq(sm-min) {
          padding-left: 50px;
        }
      }

      .new {
        @include mq(sm-min) {
          padding-left: 0.8em;
        }
      }
    }
  }

  &__info {
    @include flexChild(50%);
    position: relative;
    padding: 10px 0 50px;

    .info-line {
      position: absolute;
      top: 14px;
      height: 100%;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 1px;
        right: 0;
        margin: 0 auto;
        width: 1px;
        height: 100%;
        background: $primary;
        z-index: -1;
      }

      .info-icon {
        font-size: 2.5rem;
        background: #fff;
      }

      // lyaout
      .career__item:nth-child(odd) & {
        @include mq(sm-min) {
          left: -13px;
        }
      }

      // lyaout
      .career__item:nth-child(even) & {
        @include mq(sm-min) {
          right: -12px;
        }
      }
    }

    .info-content {
      // layout
      .career__item:nth-child(odd) & {
        @include mq(sm-min) {
          padding-left: 50px;
        }
      }

      // layout
      .career__item:nth-child(even) & {
        @include mq(sm-min) {
          padding-right: 50px;
        }
      }

      h6 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
