/*
  head.scss
-------------------------------------------------- */

//
// ttl
//

// h2
.ttl--border-vertical {
  position: relative;
  padding-left: 50px;
  padding-bottom: 36px;
  font-weight: $bold;

  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    background: $font-color;
    top: 0;
    left: 0;

    @include mq(lg) {
      width: 16px;
    }

    @include mq(sm) {
      width: 12px;
    }
  }

  // &:after {
  //   content: '';
  //   height: 100%;
  //   width: 100%;
  //   background: $primary;
  //   position: absolute;
  //   transform: translateX(-100%);
  //   transition: .3s all;
  //   z-index: 1;
  // }

  span {
    display: block;

    &.en {
      font-size: 8rem;
      padding-bottom: 0.15em;

      @include mq(lg) {
        font-size: 6rem;
      }

      @include mq(md) {
        font-size: 5rem;
      }

      @include mq(sm) {
        font-size: 4rem;
      }
    }

    &.ja {
      color: $gray-500;
      font-size: 2.1rem;

      @include mq(sm) {
        font-size: 1.8rem;
      }
    }
  }
}

.ttl--has-en {
  font-weight: $bold;

  span {
    display: block;

    &.en {
      font-size: 6rem;
      line-height: 1.2;
    }

    &.ja {}
  }
}

// h3
.ttl--line-side {
  font-weight: $bold;
  margin-bottom: 70px;

  @include mq(sm) {
    margin-bottom: 40px;
  }

  span {
    @include mq(sm) {
      display: block;
    }

    &.ttl-row {
      padding-left: 52px;
      position: relative;

      @include mq(sm-min) {
        @include dflex;
        align-items: center;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        width: 1.5em;
        height: 2px;
        background: $primary;

        @include mq(sm) {
          top: .65em;
          bottom: auto;
        }
      }
    }

    &.en {
      font-size: 4.6rem;
      line-height: 1;

      @include mq(sm) {
        font-size: 3.2rem;
      }
    }

    &.ja {
      font-size: 1.6rem;
      color: $gray-500;

      @include mq(sm-min) {
        padding-left: 1.3em;
      }
    }
  }
}

// h4
.ttl--border {
  font-size: 2rem;
  border-left: solid 8px $primary;
  line-height: 1.4;
  padding-left: 0.5em;
  margin-bottom: 24px;
}

// h5
.ttl--underline {
  font-size: 1.8rem;
  padding-bottom: 2px;
  border-bottom: solid 1px $gray-500;
  margin-bottom: 22px;
}

//
// head
//
.page-ttl-head {
  height: 30rem;
  margin-bottom: 90px;
  position: relative;
  @include flexCenter;

  // gray
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100% - #{$separate});
    background: $gray-bg;

    @include mq(md) {
      width: calc(100% - 60px);
    }

    @include mq(sm) {
      width: calc(100% - 30px);
    }
  }

  // black
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 90px;
    height: 100%;
    width: calc(100% - #{$separate} * 2);
    background: $primary;
    z-index: -10;

    @include mq(md) {
      width: calc(100% - 60px);
    }

    @include mq(sm) {
      width: calc(100% - 30px);
    }
  }

  h2 {
    text-align: center;
    font-weight: $bold;
    position: relative;
    z-index: 10;
    line-height: 1.5;

    span {
      display: block;

      &.en {
        font-size: 6rem;

        @include mq(sm) {
          font-size: 4rem;
        }
      }

      &.jp {
        font-size: 1.8rem;
        color: $gray-500;
      }
    }
  }
}
