//- footer.pug
footer.footer#siteFooter
  .footer__inner.content-inner
    ul.footer__link
      li
        a(href='' target)

    p.footer__messagge Thank you for reading the website through to the end ;)



.gotop-btn#goTopBtn
  a.btn-primary(href='#')
