aside.works__category-nav__wrapper.col-lg-3.col-12
  nav.works__category-nav
    ul.works__category-nav__list
      li.works__category-nav__item
        a(href='/works/archive/')
          span.category 全てのカテゴリ
          span.number （15）
      li.works__category-nav__item
        a(href='/works/archive/')
          span.category Webデザイン
          span.number （10）
      li.works__category-nav__item
        a(href='/works/archive/')
          span.category コーディング
          span.number （11）
      li.works__category-nav__item
        a(href='/works/archive/')
          span.category ディレクション
          span.number （1）
      li.works__category-nav__item
        a(href='/works/archive/')
          span.category その他
          span.number （0）
